__pycache__/
*.py[cod]
*.so
*.egg-info/
.venv/
.env
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
var/
.DS_Store
alembic/__pycache__/
nc_group_mapping
node_modules/
backups/
.env.dev


# Added for public release
*.sql
!scripts/*.sql
*.dump
.DS_Store
.vscode/
.idea/
backups/
inspo/
