[python: **.py]
[jinja2: **/templates/**.html]
extensions=jinja2.ext.do,jinja2.ext.loopcontrols

# Plain-text email bodies and subjects are Jinja too.
[jinja2: **/templates/**.txt]
extensions=jinja2.ext.do,jinja2.ext.loopcontrols
